<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<link rel="stylesheet" href="reset.css">
	<title>Задача 6</title>
</head>
<!-- Задача 6. 
	На кухню поступають замовлення. 
	Спочатку ми додаємо їх у список “Очікують на виконання”, 
	якщо повар береться робити — замовлення переходить у список “Виконуються”,
	якщо замовлення виконано — переходить у список “Готові до виносу”. 
	Якщо натиснути на “Подано” - страва зникає з таблиці
	Підказка: тут треба зберігати 3 масиви страв ( waitingList, processingList, completedList)


========================================================-->

<style>
	.table {
		display: flex;
		max-width: 600px;
		margin: 20px 0 0 0;

	}

	.table>div {
		border: 2px solid black;
		width: 100%;
		padding: 5px;
	}

	.item__container>div {
		border: 1px solid black;
		width: 100%;
	}

	.order__container {
		display: flex;
		justify-content: space-between;
	}

	input {
		border: 2px solid black;
	}
</style>
</head>

<body>
	<h2>Задача 6</h2>
	<!-- 
	На кухню поступають замовлення. Спочатку ми додаємо їх у список “Очікують
	на виконання”, якщо повар береться робити — замовлення переходить у список
	“Виконуються”, якщо замовлення виконано — переходить у список “Готові до
	виносу”. Якщо натиснути на “Подано” - страва зникає з таблиці 
-->
	<div id="app">
		<div>
			<label>Нова замовлена страва: </label>
			<input type="text" v-model="orderName" />
			<button @click="addOrder">Додати</button>
		</div>
		<div class="table">
			<div class="item__container">
				<h4>Очікують на виконання</h4>
				<div v-for="(order, index) in waitList" :index="index" class="order__container">
					<label>{{order.name}}</label>
					<button @click="toProcess(index)">Готувати</button>
				</div>
			</div>

			<div class="item__container">
				<h4>Виконується</h4>
				<div v-for="(order, index) in inProcessList" :index="index" class="order__container">
					<label>{{order.name}}</label>
					<button @click="toReady(index)">Приготовлено</button>
				</div>
			</div>

			<div class="item__container">
				<h4>Готові до виносу</h4>
				<div v-for="(order, index) in readyList" :index="index" class="order__container">
					<label>{{order.name}}</label>
					<button @click="toClear(index)">Подано</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		const { createApp } = Vue;
		createApp({
			data() {
				return {
					orderName: null,
					id: 0,
					waitList: [],
					inProcessList: [],
					readyList: [],
				};
			},
			methods: {
				addOrder() {
					if (this.orderName) {
						this.id++
						this.waitList.push({
							id: this.id,
							name: this.orderName,
						});
						this.orderName = null;
					}
				},
				toProcess(index) {
					this.inProcessList.push(this.waitList[index])
					this.waitList.splice(index, 1)
				},
				toReady(index) {
					this.readyList.push(this.inProcessList[index])
					this.inProcessList.splice(index, 1)
				},
				toClear(index) {
					this.readyList.splice(index, 1)
				}
			},
		}).mount("#app");
	</script>

</body>

</html>